<div class="min-h-screen bg-black">
  @switch (currentView()) { @case ('list') {
  <app-product-list
    (createProduct)="showForm()"
    (editProduct)="showForm($event)"
    (viewDetail)="showDetail($event)"
  >
  </app-product-list>
  } @case ('form') {
  <app-product-form
    [productId]="selectedProductId()"
    [isEditMode]="isEditMode()"
    (cancel)="showList()"
    (saved)="showList()"
  >
  </app-product-form>
  } @case ('detail') {
  <app-product-detail
    [productId]="selectedProductId()!"
    (back)="showList()"
    (edit)="showForm($event)"
  >
  </app-product-detail>
  } }
</div>
