/* Angular Material 3 */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
